:root {
  --backgroundColor: #FFE9EC;
  --backgroundSecond: #66021F;
  --fontColor: #0B1215;
  --dateColor: #eeee;
  --accentColor: #7A8450;
  --tooltipColor: #FAEBD7;
  --fontSize: 22px;
  --titleFontSize: 40px;
  --welcome: 'Welcome';
}

@media all {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    color: var(--fontColor);
    font-family: "Poppins", sans-serif;
    font-size: var(--fontSize);
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  header.welcome {
    box-sizing: border-box;
    height: fit-content;
    width: 100vw;
    padding: 20px;
    margin: 0;
    background-color: var(--accentColor);
    color: var(--backgroundColor);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  header.welcome div h6 {
    margin: 0;
    text-transform: uppercase;
  }

  nav.navbar {
    box-sizing: border-box;
    height: auto;
    width: 100vw;
    background-color: var(--backgroundColor);
    color: var(--backgroundSecond);
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: row;
  }

  nav.navbar div.mobileNav {
    display: none;
  }

  nav.navbar > div {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }

  nav.navbar > div.fullNav div.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    height: auto;
  }

  nav.navbar > div.fullNav div.content > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
  }

  nav.navbar h4,
  nav.navbar h3 {
    margin: 10px 0;
  }

  nav.navbar a {
    color: var(--backgroundSecond);
    text-decoration: none;
  }

  nav.navbar a:hover {
    text-decoration: underline;
  }

  nav.navbar div button.btn {
    height: fit-content;
    width: fit-content;
    padding: 5px;
    margin: 0;
    background-color: transparent;
    border: 1px solid var(--backgroundSecond);
    cursor: pointer;
    color: var(--backgroundSecond);
    font-family: "Poppins", sans-serif;
    font-size: 0.7em;
  }

  nav.navbar div button.btn:hover {
    transform: scale(1.05);
  }

  nav.navbar div button.navButton {
    display: none;
    border: none;
    background-color: transparent;
    color: var(--backgroundSecond);
    font-size: 20px;
    cursor: pointer;
  }

  main {
    box-sizing: border-box;
    height: auto;
    width: 100vw;
    padding: 0;
    margin: 0;
  }

  section.aboutMe {
    box-sizing: border-box;
    height: fit-content;
    width: 100%;
    padding: 20px;
    margin: 0;
    background-color: var(--backgroundSecond);
    color: var(--backgroundColor);
    display: flex;
    flex-direction: row;
  }

  section.aboutMe div.content,
  section.aboutMe div.picture {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: auto;
    width: 50%;
  }

  section.aboutMe div.content {
    justify-content: space-evenly !important;
  }

  section.aboutMe div.content h1 {
    margin: 0;
  }

  section.aboutMe div.content div.text {
    box-sizing: border-box;
    width: 70%;
  }

  section.aboutMe div.content div.text p {
    overflow-wrap: break-word;
  }

  section.aboutMe div.content .defaultImg.git {
    height: 50px;
    width: 50px;
  }

  section.aboutMe div.picture img {
    border: 10px double var(--backgroundColor);
  }

  section.skillOverview {
    box-sizing: border-box;
    height: auto;
    width: 100vw;
    padding: 20px;
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: row;
  }

  section.skillOverview div.title {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--backgroundSecond);
    width: calc(100% / 3);
    height: auto;
  }

  section.skillOverview div.title h1 {
    margin: 0;
    font-size: 2em;
    color: var(--backgroundColor);
    letter-spacing: 0.25em;
  }

  section.skillOverview div.content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    height: auto;
  }

  section.skillOverview div.content div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
  }

  section.skillOverview div.tooltip {
    display: flex;
    align-items: center;
  }

  section.skillOverview img.defaultImg {
    height: 40px;
    width: 40px;
    margin: 5px;
  }

  section.projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    height: auto;
    width: 100vw;
    background-color: var(--backgroundSecond);
  }

  section.projects div.title h1 {
    margin: 0;
    margin-bottom: 20px;
    color: var(--backgroundColor);
  }

  section.projects .slideshow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
  }

  section.projects .mySlides {
    display: none;
  }

  section.projects .mySlides {
    background-color: var(--accentColor);
    box-shadow: rgba(0, 0, 0, 0.44) 0px 4px 12px;
    width: 30%;
    height: 40%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  section.projects .mySlides a {
    color: var(--backgroundColor) !important;
    text-decoration: none;
  }

  section.projects .mySlides div.border {
    height: 100%;
    width: 100%;
    padding: 40px;
    border: 1px solid var(--tooltipColor);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section.projects .mySlides hr {
    border-top: 1px solid var(--backgroundColor) !important;
  }

  section.projects .mySlides div.text {
    padding: 10px 40px;
  }

  section.projects .mySlides:hover {
    transform: scale(1.025);
  }

  section.projects div.lang {
    margin-top: 20px;
  }

  section.projects div.lang .defaultImg {
    height: 24px;
    width: 24px;
    margin: 0 4px 4px 4px;
  }

  section.projects div.controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
  }

  section.projects div.controls .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  section.projects div.controls .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  section.projects div.controls .prev:hover,
  section.projects div.controls .next:hover {
    background-color: #FFE9EC82;
  }

  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  section.projects .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  section.projects .active, .dot:hover {
    background-color: #717171;
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
}

@media (max-width: 1199px) {
  nav.navbar div.mobileNav {
    height: auto;
    width: 100%;
  }

  nav.navbar div div.content.logo {
    width: 100%;
    margin-left: 12px;
  }

  nav.navbar div.fullNav a, nav.navbar div.fullNav button.btn {
    display: none;
  }

  nav.navbar {
    display: flex;
    flex-direction: column;
  }

  nav.navbar > div {
    justify-content: center;
  }

  nav.navbar div button.navButton {
    position: relative;
    display: inline-flex;
  }

  section.aboutMe {
    flex-direction: column-reverse !important;
  }

  section.aboutMe div.content,
  section.aboutMe div.picture {
    width: 100% !important;
    padding: 0 !important;
  }

  section.aboutMe div.picture img {
    width: 50% !important;
  }

  section.skillOverview {
    flex-direction: column !important;
    justify-content: center;
  }

  section.skillOverview div.content,
  section.skillOverview div.title {
    width: 100%;
  }

  section.skillOverview div.title h1 {
    letter-spacing: unset;
    overflow-wrap: break-word;
  }

  section.projects .mySlides {
    width: 100%;
  }
}